.wholepage {
  height: 100%;
  width: 90%;
  /* text-align: center; */
}
.wholepage h1 {

    
    padding-top: 20px;
}
.heading {
  font-size: 50px;
  text-align: center;
  

}
.project {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}

.project img {
  /* height: 80vh ; */
  width: 60vw;
}
.project button {
  background-color: transparent;
  margin-right: 50px;
  border: none;
  cursor: pointer;
}
li {
  margin: 20px;
  list-style-type: none;
}

@media screen and (max-width: 500px) {
  .project {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 20px 0px;
   margin-right: 30px; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* border: 2px solid; */
  }
  .project img {
    /* height: 100% ; */
    width: 100%;
  }
  .project button {
    margin-right: 5px;
  }
  .heading {
    font-size: 32px;
    
  }
}
