.wholepage{
    height: 100vh;
    widht:100vw;
    /* background-color: red; */
    /* display: flex; */

    
}
.wholepage> h1{
    text-align: center;
    /* font-size: xx-large; */
    font-size: 50px;
}

a{
  text-decoration: none;
  color: rgb(38, 34, 34);
}

.content{
  display: flex;
  gap: 20px;
width: 90%;
height: 40%;
justify-content: space-around;
align-items: center;
font-size: larger;
 
}
.content div{
  text-align: center;
  /* width: 50vw;
  height: 20vh; */
  /* background-color: red; */
}

.content div:hover{
 transform: scale(1.5);
 transition: transform 1s ;
}
.pdf{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* background-color: red; */
  height: 25%;
  width: 90%;
  text-align: center;
  padding:20px ;
}
.pdf span{
  font-size: 1.6rem;
}



@media screen and (max-width:500px ){
  .wholepage{
    height: 90%;
  }
  .content{
   
  display: flex;
 flex-direction: column;
 width: 100%;
  }
}
