* {
  margin: 0px;
  padding: 0px;
}

.wholepage {
  height: 100vh;
  width: 100vw;
}

.percard {
  /* border: 2px solid; */
  height: 50vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* color: white; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.percard > h1,
h3,
h4 {
  color: rgba(255, 255, 255, 0.953);
  font-family: cursive;
  font-size: xx-large;
  font-weight: 100;
}

.percard:hover {
  transform: scale(1.2);
  transition: transform 1s;
}
.edu h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingText {
  text-align: center;
  /* color: rgb(0, 0, 0); */
  padding: 25px;
  font-size: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillImg {
  max-width: 100vw;
  height: 5rem;
  padding: 0 15px;
  object-fit: cover;
}

.skillImg:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite forwards;
}

@keyframes swipe {
  0% {
    /* transform: translate(0); */
  }

  100% {
    transform: translate(-100%);
  }
}

@media screen and (max-width: 500px) {
  .percard > h1,
  h3,
  h4 {
    color: rgba(255, 255, 255, 0.953);
    font-family: cursive;
    font-size: large;
    font-weight: 100;
  }

  .headingText {
    text-align: center;
    /* color: rgb(0, 0, 0); */
    padding: 25px;
    font-size: 32px;
  }
}
