.wrapper {
  margin: 0;
  padding: 0;
  height: 95vh;
  width: 100vw;
  display: flex;
  /* background-image: url(https://images4.alphacoders.com/130/1307940.png); */
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  justify-content: center;
  /* font-size: 6.5vw; */
  font-size: 6rem;
}

.fadeIn {
  animation: fadeIn 5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes fadeIn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nameFade {
  0% {
    background-color: red;
    color: white;
  }
  10% {
    background-color: pink;
    color: white;
  }
  20% {
    background-color: purple;
    color: white;
  }
  30% {
    background-color: blue;
    color: white;
  }
  40% {
    background-color: brown;
    color: white;
  }
  50% {
    background-color: blueviolet;
    color: white;
  }
  60% {
    background-color: rgb(0, 94, 94);
    color: white;
  }
  70% {
    background-color: yellowgreen;
    color: white;
  }
  80% {
    background-color: darkcyan;
    color: white;
  }

  70% {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  100% {
    background-color: sandybrown;
    color: white;
  }
}

.nameFade {
  animation: nameFade 20s infinite;
}

@media (max-width: 500px) {
  .wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;

    flex-direction: column;

    font-size: 15vw;
  }

  .fadeIn {
    animation: fadeIn 5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  @keyframes fadeIn {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
