.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 80vw;
  display: flex;
  /* background-image: url(https://images4.alphacoders.com/130/1307940.png); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  /* justify-content: center; */
  font-size: 6.5vw;
}





@keyframes fadeIn {
  0% {
    opacity: 0;
    color: wheat;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 3s infinite;
}



@media (max-width:500px) {
  .wrapper{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* background-image: url(https://images4.alphacoders.com/130/1307940.png); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    font-size: 15vw;
  }
  .fadeIn{
    font-size: 20vw;
  }
  
.leftsection{
  height: 50%;
  width: 100%;
  border: 2px solid red;
}

}