.allIcons{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    /* max-width: 40px; */
    /* position: relative; */
    /* float: right; */
    top: 28vh;
    position: fixed;
    right: 4vw;
    /* left: 94vw; */
    font-size: 20px;
    
}
.allIcons::after{
    background-color: red;
}


.icon{
/* border: 2px solid yellow; */
display: inline;
margin: 5px 0px;

}

.topIcon{
    position: fixed;
    top: 0px;
    font-size: 70px;
}
.linkdln{
    background-color: rgb(58, 58, 177);
}

