.allIcons {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  /* max-width: 40px; */
  /* position: relative; */
  /* float: right; */
  top: 28vh;
  position: fixed;
  right: 2vw;
 
  /* left: 94vw; */
  font-size: 22px;
  z-index: 100;
 
}
.allIcons::after {
  /* background-color: red; */
}

.icon {
  /* border: 2px solid yellow; */
  color: red;
  display: inline;
  margin: 15px 0px;
}
 
.allIcons a:hover{
  color: rgb(0, 0, 0);
 

}

.allIcons a{
  color: rgb(73, 58, 63);
}
@media (max-width:500px) {
  .allIcons{
    right: 4vw;
  }
  .allIcons a{
    color: rgb(73, 58, 63);
  }

  
}